# Evaluating the Relationship between the CJS and the Youth

This file documents and prepares the data that will be needed to conduct the resaerch

In [2]:
import numpy as np
import pandas as pd
import os
import glob

## Import data

### Arrest data set

The time frame needed for the research will be over the last 10 years

In [38]:
arrest_dataset = "arrests-open-data-tables-ppp.csv"
tra_data = pd.read_csv(arrest_dataset)

valid_dates = ["2009/10", "2010/11", "2011/12", "2012/13", "2013/14","2014/15","2015/16","2016/17","2017/18","2018/19","2019/20"]

In [39]:
tra_data.head()

,Financial Year,Geocode,Force Name,Region,Sex,Ethnic Group (self-defined),Age group,Reason for arrest (offence group),Arrests,Unnamed: 9
0,2006/07,E23000036,Avon and Somerset,South West,Female,Asian or Asian British,10 - 17 years,Burglary,-,NaN
1,2006/07,E23000036,Avon and Somerset,South West,Female,Asian or Asian British,18 - 20 years,Burglary,-,NaN
2,2006/07,E23000036,Avon and Somerset,South West,Female,Asian or Asian British,21 years and over,Burglary,1,NaN
3,2006/07,E23000036,Avon and Somerset,South West,Female,Asian or Asian British,Under 10 years,Burglary,-,NaN
4,2006/07,E23000036,Avon and Somerset,South West,Female,Asian or Asian British,Unknown,Burglary,-,NaN

In [40]:
tra_data.drop(columns='Unnamed: 9', inplace=True)
tra_data.drop(columns='Geocode', inplace=True)
tra_data.head()

,Financial Year,Force Name,Region,Sex,Ethnic Group (self-defined),Age group,Reason for arrest (offence group),Arrests
0,2006/07,Avon and Somerset,South West,Female,Asian or Asian British,10 - 17 years,Burglary,-
1,2006/07,Avon and Somerset,South West,Female,Asian or Asian British,18 - 20 years,Burglary,-
2,2006/07,Avon and Somerset,South West,Female,Asian or Asian British,21 years and over,Burglary,1
3,2006/07,Avon and Somerset,South West,Female,Asian or Asian British,Under 10 years,Burglary,-
4,2006/07,Avon and Somerset,South West,Female,Asian or Asian British,Unknown,Burglary,-

In [48]:
filter1 = tra_data['Financial Year'] == "2007/08"
#tra_data.drop(index = tra_data[filter1].index)

In [50]:
tra_data.isnull().sum().sum()

121512

In [56]:
noNan = tra_data.dropna()

get relevant data

In [ ]:
position = 0

for i in range(0,1000):
    noNan = noNan.drop(noNan.index[position])
    position = position +1
    updated = noNan
    
print(updated)

In [4]:
pwd

'C:\\Users\\bennt\\documents\\data_science_assignment'